In [50]:
print('hello world!')

hello world!

In [51]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split

In [52]:
dataset_path = os.path.join(os.getcwd(), 'dataset')
embedded_dataset = os.path.join(dataset_path, 'embedded_spam_message_original.pkl')
test_embedded_dataset = os.path.join(dataset_path, 'embedded_spam_message_test.pkl')

In [53]:
df = pd.read_pickle(embedded_dataset)

In [54]:
df.head()

,text,text_list,embed_vector,embed_vector_padded,class
index,,,,,
0,go jurong point crazy .. available bugis n gre...,"[go, jurong, point, crazy, .., available, bugi...","[[-0.0091, -0.0277, -0.0647, -0.0061, -0.0667,...","[[-0.0091, -0.0277, -0.0647, -0.0061, -0.0667,...",0
1,ok lar ... joking wif u oni ...,"[ok, lar, ..., joking, wif, u, oni, ...]","[[-0.1525, 0.1062, -0.1741, -0.0614, 0.039, -0...","[[-0.1525, 0.1062, -0.1741, -0.0614, 0.039, -0...",0
2,free entry 2 wkly comp win fa cup final tkts 2...,"[free, entry, 2, wkly, comp, win, fa, cup, fin...","[[-0.0622, -0.0574, -0.0646, -0.0302, 0.0981, ...","[[-0.0622, -0.0574, -0.0646, -0.0302, 0.0981, ...",1
3,u dun say early hor ... u c already say ...,"[u, dun, say, early, hor, ..., u, c, already, ...","[[-0.2466, -0.0317, -0.0448, -0.0041, -0.0351,...","[[-0.2466, -0.0317, -0.0448, -0.0041, -0.0351,...",0
4,nah n't think go usf life around though,"[nah, n't, think, go, usf, life, around, though]","[[-0.0188, -0.0958, -0.1085, -0.0173, 0.0058, ...","[[-0.0188, -0.0958, -0.1085, -0.0173, 0.0058, ...",0

In [55]:
X = df['embed_vector_padded']
y = df['class']

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.9, stratify=y)

(X_train, y_train)

(index
 4563    [[-0.0777, -0.0473, -0.1521, -0.0531, 0.0741, ...
 4324    [[-0.0354, -0.0064, -0.1179, 0.0885, -0.0741, ...
 893     [[-0.0437, -0.0144, -0.1032, -0.0202, -0.0252,...
 354     [[0.0349, -0.0002, -0.1537, 0.0869, -0.0114, -...
 2764    [[-0.0766, 0.0547, -0.0314, -0.0089, 0.1132, 0...
                               ...
 2053    [[-0.0655, 0.0853, -0.1158, -0.0658, -0.0053, ...
 1089    [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
 4006    [[-0.1628, 0.1981, 0.0009, -0.0011, 0.4577, 0....
 1200    [[-0.0947, -0.0541, -0.1139, -0.0609, 0.0784, ...
 1479    [[0.0496, 0.1189, 0.0003, 0.0466, -0.0232, -0....
 Name: embed_vector_padded, Length: 5009, dtype: object,
 index
 4563    0
 4324    0
 893     0
 354     0
 2764    0
        ..
 2053    0
 1089    0
 4006    0
 1200    0
 1479    0
 Name: class, Length: 5009, dtype: int64)

In [57]:
train_df = pd.DataFrame({
    'embed_vector_padded': X_train,  # Or 'embeddings', or your original column name for X
    'class': y_train      # Or your original column name for y
})

test_df = pd.DataFrame({
    'embed_vector_padded': X_test,   # Use the same column name as above
    'class': y_test       # Use the same column name as above
})

In [58]:
train_df.head()

                                     embed_vector_padded  class
index
4563   [[-0.0777, -0.0473, -0.1521, -0.0531, 0.0741, ...      0
4324   [[-0.0354, -0.0064, -0.1179, 0.0885, -0.0741, ...      0
893    [[-0.0437, -0.0144, -0.1032, -0.0202, -0.0252,...      0
354    [[0.0349, -0.0002, -0.1537, 0.0869, -0.0114, -...      0
2764   [[-0.0766, 0.0547, -0.0314, -0.0089, 0.1132, 0...      0

In [59]:
test_df.head()

                                     embed_vector_padded  class
index
937    [[0.0168, 0.0959, -0.1346, -0.0783, -0.0284, 0...      0
3813   [[-0.0288, 0.1036, -0.0177, 0.0937, 0.1637, 0....      0
3047   [[0.1798, -0.1175, -0.2733, -0.1253, -0.1611, ...      0
5056   [[-0.1758, -0.0359, -0.1057, -0.0703, -0.035, ...      0
5460   [[0.1012, 0.0564, -0.0415, -0.1268, 0.0861, 0....      1

In [62]:
test_df = test_df.dropna()
test_df.head()

                                     embed_vector_padded  class
index
937    [[0.0168, 0.0959, -0.1346, -0.0783, -0.0284, 0...      0
3813   [[-0.0288, 0.1036, -0.0177, 0.0937, 0.1637, 0....      0
3047   [[0.1798, -0.1175, -0.2733, -0.1253, -0.1611, ...      0
5056   [[-0.1758, -0.0359, -0.1057, -0.0703, -0.035, ...      0
5460   [[0.1012, 0.0564, -0.0415, -0.1268, 0.0861, 0....      1

In [63]:
test_df.to_pickle(test_embedded_dataset)